autostart
BraveSoftware
broot
btop
cachyos
dconf
environment.d
fish
font-manager
fontconfig
fuzzel
gh
github-copilot
go
gtk-3.0
jellyfin-desktop
mozilla
pipewire
pulse
spicetify
spotify
vesktop
cachyos-hello.json
mimeapps.list
pavucontrol.ini
