autostart
BraveSoftware
broot
btop
cachyos
cosmic
dconf
environment.d
flameshot
font-manager
fontconfig
fuzzel
gh
github-copilot
go
gtk-3.0
jellyfin-desktop
mozilla
pipewire
ProtonPlus
Proton
pulse
spicetify
spotify
spotify-player
vesktop
cachyos-hello.json
mimeapps.list
pavucontrol.ini
QtProject.conf
